import "./style.css";

<div class = ".modal-overlay">
    <div class = "modal">
    <div class = "title">Are you sure you want to delete your account?</div>
        <div class = "button-bar">
            <button class="noDelete" onClick() {input.showModalChange?.(false)}>No</button>
            <button class="Delete" onClick() {input.showModalChange?.(false)}>Delete</button>
        </div>
    </div>
    </div>