/* Base Card */

.card {
  background-color: #F9FAFB;
  border-radius: 12px;
  border: 7px solid #0D9488;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 70%;
  box-sizing: border-box;
  color: black;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}


/* TextCard */

.card-input {
  width: 40%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  color-scheme: dark;
  font-weight: 100;
}

/* Calendar Card */

.date-input {
  width: 40%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  color-scheme: dark;
  font-weight: 100;
}

/* Display Card */

.display-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  padding: 2%; 
}

.attributes-dictionary {
  flex: 1 1 60%;
}

.attribute-item {
  margin: 0.3em 0;
  line-height: 1.2;
}

.card-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.editButton {
  width: 3vw;
  min-width: 70px; 
  padding: 0.8em 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
  background-color: #1F3B4D;
  color: white;
  margin-right: 5px;
}

.deleteButton {
  width: 3vw;
  min-width: 70px;
  padding: 0.8em 0; 
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
  background-color: #B22222;
  color: white;
  margin-left: 5px;
}

@media (max-width: 600px) {
  .card {
    padding: 0.75rem;
  }

  .card-label {
    font-size: 0.9rem;
  }

  .card-input {
    width: 90%;
  }

  .date-input {
    width: 90%;
  }

  .card-actions {
    padding-top: 2vh;
  }
}