import TextCard from "../../tags/SALNCard/TextCard.marko";
import ChoiceCard from "../../tags/SALNCard/ChoiceCard.marko";

<div class="container">
  <TextCard label="Text Input Example" subtext="Sub Text" placeholder="Enter text input" value="Text Input"/>
  <ChoiceCard label="Choice Card Sample" subtext="Sub Text" name="choices" options=["ChoiceA", "ChoiceB", "ChoiceC"] />
</div>
