  html,
  body {
    font-family: inter;
    background: #E5E5E0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
  }
  .header-title {
    color: #000;
  }
  .header-button-container {
    display: flex;
    gap: 0.5rem;
  }
  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2vw, 2em);
    padding:1em;
    top: 100px;
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 10px solid #0D9488;
  }